body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(red, yellow);
}
.contanor {
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgb(36, 20, 20), rgba(47, 44, 44, 0.724));
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: -25px;
    font-size: 4.5rem;
    color: black;
    text-align: right;
    border: 2px solid gray;
    background-color: rgb(154, 154, 177);
}

.btn {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
    padding: 25px;
    gap: 8px;
    align-items: center;
    margin-left: 7px;
}

button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    background-color: black;
    font-size: 3rem;
    align-items: center;
    user-select: none;
    margin: 5px;
}

button:hover {
    background-color: rgb(34, 30, 30) ;
}

button:active{
    background-color: rgb(163, 163, 163);
}

.main-btn {
    background-color: orange;
    color: white;
}

.main-btn:hover {
    background-color: rgba(213, 165, 88, 0.731);
    color: white;
}

.main-btn:active {
    background-color: rgba(184, 137, 43, 0.436);
    color: white;
}

.btn , .main-btn{
    justify-content: center;
    align-items: center;
}

